<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./</Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" fileName="${basePath}/Logs.log" filePattern="${basePath}/Test-%d{yyyy-MM-dd__hh_mm_ss}.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="20000" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
